.navbar{
    padding-left: 15px;
    margin-bottom: 2px;
    text-align: left;
    justify-content:left;
    color: white;
    background-color: #329c8c;
    border-bottom: 1px solid black;
}

.search{
    margin: 2px 0 2px 12px;
}