.card-subtitle{
    text-decoration: underline;
    text-align: center;
    padding: 5px;}

.card-title{
    text-align: center;
}

.card-design{
   border-radius: 10px;
}

.box{
    padding: 2%;
    box-shadow: 0.5px 1px 15px ;
    border-radius: 5px;
    width: 30%;
    margin-left: 35%;
    margin-top: 20px;
}

.search{
    display: flex;
}

.search-input{
    outline: 0;
    border-width: 0 0 2px;
    border-color: black;
    height: 20%;
    width: 100%;
}

.search-input:focus {
    border-color: #329c8c;
}

.btn {
    background-color: #329c8c; 
    border: none; 
    color: white; 
    padding: 5px 18px;
    font-size: 15px; 
    cursor: pointer;
    transform: translateY(-8px);
  }

.btn:hover{
    background-color: white;
    border:1px solid black;
    color:black;
    transform: translateY(-8px);
}

@media screen and (max-width: 800px) {
    .box {
      width: 90%;
      margin: 5% 0% 5% 5%;
      padding : 5% 3% 4% 3%;
    }
  }

.content{
    padding: 20px 20px 20px 20px ;
}
